@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn {
        @apply rounded-[32px] px-8 py-3 font-bold transition-colors;
    }
    .btn-light {
        @apply bg-white text-blue-700 hover:bg-white/80;
    }
    .btn-primary {
        @apply bg-blue-700 text-white hover:bg-blue-600;
    }
    .label-button {
        @apply flex items-center justify-center p-2 gap-2 whitespace-nowrap hover:bg-white/25 cursor-pointer transition-colors rounded-md;
    }
    .horizontal-list-wrapper {
        @apply grid grid-cols-[1fr_min(var(--max-width),_100%-16px)_1fr] py-6 -my-6 overflow-x-auto snap-x scroll-px-4;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .horizontal-list-wrapper::-webkit-scrollbar {
        display: none;
    }

    @media (min-width: 640px) {
        .horizontal-list-wrapper {
            --max-width: 640px;
        }
    }
    @media (min-width: 768px) {
        .horizontal-list-wrapper {
            --max-width: 768px;
        }
    }
    @media (min-width: 1024px) {
        .horizontal-list-wrapper {
            --max-width: 1024px;
        }
    }
    @media (min-width: 1126px) {
        .horizontal-list-wrapper {
            --max-width: 1126px;
        }
    }
    .horizontal-list {
        @apply flex gap-3 md:gap-6 px-4 col-[2] last:after:content-[''] last:after:pr-px;
    }
}
